body {
  margin:0;
  background-color: #f4f5fc;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.Navbar {
  margin-top: 1%;
  margin-bottom: 1%;
  justify-content: center;
  display: flex;
  font-size: 3rem;
}

hr {
  border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1% 4%
  
}

.files {
  width: 15%;
  background: #111b3c;
  color: white;
  border-radius: .5rem;
  padding: 1%;
}

.file-button-group {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  align-items: flex-start;
}

.file-button-clicked {
  background-color: transparent;
  color: white;
  border: none;
  padding: 2% 0;
  font-size: large;
  cursor: pointer;
}

.file-button {
  background-color: transparent;
  color: #eff0f1;
  border: none;
  padding: 2% 0;
  cursor: pointer;
}

.editor-head {
  display: flex;
justify-content: space-between;
}

.editor{
  width: 50%;
  height: 100%;
  margin: 0 1%;
 
}

.export {
  margin: 1%;
  font-weight: lighter;
  font-size: larger;
}

.live-view {
  border: 0.5px solid #4a7fff;
  width: 40%;
  
  border-radius: 0.5rem;
  overflow: hidden;
  background: #111b3c;
  color: white;
  padding: 2% 0%;
}

.title {
  margin: 1%;
  font-weight: bold;
  font-size: larger;

}

iframe {
  background: white;
}

.code-mirror-wrapper {
  border-radius: .5rem;
}

.details {
  margin: 3% 20% 1%;
}


li{
  line-height: 1.7em;
}